In [1]:
import pandas as pd

In [3]:
df_tb = pd.read_excel('H:/数据/legao3225/乐高淘宝数据.xlsx')

In [4]:
df_tb.head()

                          goods_name shop_name   price purchase_num location
0               乐高旗舰店官网悟空小侠系列80012孙悟   乐高官方旗舰店  1299.0   ['867人付款']    浙江 嘉兴
1      LEGO乐高 71043收藏版哈利波特霍格沃兹城堡玩具礼物  天猫国际进口超市  3299.0   ['259人付款']    浙江 杭州
2     LEGO乐高机械组布加迪42083粉丝收藏旗舰款玩具模型礼物  天猫国际进口超市  2799.0   ['441人付款']    浙江 杭州
3  乐高旗舰店官网3月新品76895超级赛车系列法拉利赛车积木玩具男孩   乐高官方旗舰店   199.0   ['358人付款']    浙江 嘉兴
4   乐高旗舰店官网3月新品得宝系列10921超级英雄实验室大颗粒益智   乐高官方旗舰店   299.0   ['126人付款']    浙江 嘉兴

In [7]:
df_tb.describe()

             price
count  4404.000000
mean    352.583837
std     612.045793
min       0.060000
25%      49.000000
50%     140.080000
75%     389.000000
max    8888.000000

In [8]:
df_tb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4404 entries, 0 to 4403
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   goods_name    4404 non-null   object
 1   shop_name     4404 non-null   object
 2   price         4404 non-null   float64
 3   purchase_num  4404 non-null   object
 4   location      4404 non-null   object
dtypes: float64(1), object(4)
memory usage: 172.2+ KB

# 数据处理